<!DOCTYPE html>
<html>
<%- include('../partials/head', {title:"Wally"}) %>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="foto-cadastro">
  <%- include('../partials/header') %>

    <div id="cadastro" class="modal-dialog modal-dialog-centered" role="document">
        <div id="cadastro" class="modal-content">
            <a id="cadastro" type="button" class="close" href="/">
                <span aria-hidden="true">&times;</span>
            </a>
            <div id="cadastro" class="modal-header"><img src="/stylesheets/img/logoWally-Grey.png"
                    alt="Wally" /></div>

            <div class="texto-login">
                <h6>Cadastrar</h6>
            </div>
            <div class="modal-body">
                <form action="/cadastrousuario" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Email"
                            class="form-control" onkeyup='saveValue(this);'/>
                    </div>

                    <% if( typeof msg1 !== 'undefined') {%>
                        <h4><%= msg1 %></h4>
                        <% } %>

                    <div class="form-group">
                        <input type="password" name="password" id="senha" placeholder="Senha"
                            class="form-control" onkeyup='saveValue(this);'/>
                    </div>

                    <% if( typeof msg2 !== 'undefined') {%>
                        <h4><%= msg2 %></h4>
                        <% } %>

                     <% if( typeof msg3 !== 'undefined') {%>
                        <h4><%= msg3 %></h4>
                        <% } %>
                             
                        <button type="submit" class="btn btn-primary">
                        Continuar
                    </button>
                </form>
            </div>
            <div id="cadastro" class="modal-footer"></div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="js/app.js"></script>


</html>