<!DOCTYPE html>
<html>
<%- include('partials/head', {title: pacote.nome}) %>

<body>
    <div class="nav cover-container d-flex w-100 h-100 p-3 mx-auto flex-column nav-rosa">
        <%- include('partials/header') %>
    </div>

    <img src="/images/uploads/<%= pacote.imagem %>" alt="" class="pacote-imagem">

    <section class="m-5">
        <div class="container d-flex justify-content-center">
            <% pacote.ambientes.forEach((ambiente) => { %>
            <h3><span class="badge badge-secondary ml-1 mr-1"><%= ambiente.nome%></span></h3>
            <% }) %>
            <% pacote.atracoes.forEach((atracao) => { %>
            <h3><span class="badge badge-secondary ml-1 mr-1"><%= atracao.nome%></span></h3>
            <% }) %>
        </div>
        <div class="titulo container text-center mt-3">
            <h1><%= pacote.nome %></h1>
        </div>
        <div class="container mt-5">
            <div class="row text-center">
                <div class="col-4 border-right">
                    <h6 class="mb-3 text-center font-weight-bold">Descrição</h6>
                    <h6 id="texto-destino" class="text-justify"><%= pacote.descricao %></h6>
                </div>
              
                <div class="col-4 border-right">
                    <h6 class="mb-3 text-center font-weight-bold ">Serviços Inclusos</h6>
                    <div class="text-center">
                        <h6 id="texto-destino" class=""><img src="../../images/airplane.png" class="img-fluid rating  mr-2" alt="rating"/>Passagens aéreas, de ida/volta</h6>
                    </div>
                    <div class="text-center">
                        <h6 id="texto-destino" class=""><img src="../../images/hotel.png" class="img-fluid rating  mr-2" alt="rating"/>Hotel, Hospedagens e Refeição</h6>
                    </div>
                    <div class="text-center">
                        <h6 id="texto-destino" class=""><img src="../../images/bus.png" class="img-fluid rating  mr-2" alt="rating"/>Transporte aos locais visitados</h6>
                    </div>
                    <div class="text-center">
                        <h6 id="texto-destino" class=""><img src="../../images/life.png" class="img-fluid rating  mr-2" alt="rating"/>Seguro de vida e contra roubos</h6>
                    </div>
                </div>   
                <div class="col-4">
                    <h6 class="mb-3 text-center font-weight-bold">Roteiro de Viagem</h6>
                    <h6 id="texto-destino" class="text-left">• Zaanse Schans - bairro rodeado por moinhos de vento e construções antigas.</h6>
                    <h6 id="texto-destino" class="text-left">• Den Bosch - distrito da cidade com lojas e restaurantes tradicionais.</h6>
                    <h6 id="texto-destino" class="text-left">• Groningen - cidade vizinha ao extremo norte, com população jovem e ativa.</h6>
                </div>           
            </div>
        </div>
        <div class="container d-flex justify-content-center mt-5">
            <h2>R$ <%= pacote.preco %></h2>
                <p class="ml-1 mt-3">/pessoa</p>
        </div>
        <div class="container text-center">
            <button type="button" id="comprar1" class="btn btn-primary col-2"
                onclick="location.href='/pagamento/<%=pacote.id%>'">Comprar</button>
        </div>
        </div>
        </div>
    </section>

    <%- include('partials/footer') %>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

</html>