<!DOCTYPE html>
<html>
<%- include('partials/head', {title:"Cadastre seu pacote"}) %>

<body>
  <div class="nav cover-container d-flex w-100 h-100 p-3 mx-auto flex-column nav-rosa">
    <%- include('partials/header') %>
  </div>

  <main class="pt-5 pb-5" id="cadastrar-pacote">
    <div class="jumbotron col-8 mx-auto">

      <div class="container col-10">
        <h1 class="display-6">Editar Pacote</h1>
        <p class="lead">Você poderá oferecer mais uma opção de viagem para nossos usuários e, em poucos passos, ela já
          estará no ar. Só precisamos obter algumas informações.</p>
      </div>
  
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">
          <div class="col-10">
            <form action="/cadastro/editar/<%= pacote.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

              <div class="secao-formulario">
                <h6>Informações gerais</h6>
                <br>
                <div class="form-row">
                  <div class="form-group col">
                    <label for="nome">Dê um nome ao seu pacote:</label>
                    <input type="text" class="form-control" name="nome" id="nome"
                      placeholder="Exemplo: Carnaval em Porto Seguro 5 noites com aéreo" onkeypress="return tabE(this,event)" value="<%=pacote.nome%>">
                  </div>
                </div>
                <div class="form-row d-flex justify-content-between">
                  <div class="form-group col-md-6">
                    <label for="data-de-partida">Data de partida:</label>
                    <input type="date" class="form-control" name="dataDePartida" id="data-de-partida" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="data-de-chegada">Data de chegada:</label>
                    <input type="date" class="form-control" name="dataDeChegada" id="data-de-chegada" />
                  </div>
                </div>
                <div class="form-row d-flex justify-content-between">
                  <div class="form-group col-md-3">
                    <legend class="col-form-label">Inclui aéreo?</legend>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="aereo" name="aereo" onkeypress="return tabE(this,event)">
                      <label class="custom-control-label" for="aereo">Sim</label>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="diarias">Diárias em hotel:</label>
                    <select class="custom-select form-control" name="diarias" id="diarias">
                      <option selected disabled value="">Selecione...</option>
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="preco">Valor:</label>
                    <input type="text" class="form-control" name="preco" id="preco" onkeypress="return tabE(this,event)">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-12">
                    <label for="descricao">Adicione aqui a descrição deste pacote:</label>
                    <textarea class="form-control" name="descricao" id="descricao" rows="5"
                      placeholder="Forneça detalhes sobre o destino, hospedagem, passeios, tudo que estiver incluso."></textarea>
                  </div>
                </div>

                <div class="secao-formulario mt-4">
                  <h6>Filtros avançados</h6>
                  <small>Para que nosso usuário possa encontrar exatamente o pacote que estava procurando, pedimos mais
                    algumas informações:</small>
                  <div class="form-row mt-4">
                    <div class="form-group col-12">
                      <label for="destino">Digite o destino:</label>
                      <input class="form-control" type="text" name="destino" id="destino" onkeypress="return tabE(this,event)">
                      <span id="input-destino"></span>
                    </div>
                  </div>
                  <div class="form-row mt-4">
                    <div class="form-group col-12">
                      <label for="origem">Digite as cidades de saída:</label>
                      <input class="form-control" type="text" name="origem" id="origem" onkeypress="return tabE(this,event)">
                      <span id="input-origem"></span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-6">
                      <label for="ambiente">Selecione o ambiente que se aplica:</label>
                      <select multiple class="form-control" size="3" name="ambiente" id="ambiente" onkeypress="return tabE(this,event)">
                        <option>Praia</option>
                        <option>Montanha</option>
                        <option>Urbano</option>
                      </select>
                    </div>
                    <div class="form-group col-6">
                      <label for="atracao">Atrações a serem desfrutadas nessa viagem:</label>
                      <select multiple class="form-control" size="3" name="atracao" id="atracao" onkeypress="return tabE(this,event)">
                        <option>Resort</option>
                        <option>Museus</option>
                        <option>Prática de esportes</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="imagem">Faça o upload das fotos deste pacote:</label>
                    <input type="file" class="form-control-file" name="imagem" id="imagem">
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-secondary mb-2">Estamos prontos!</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </main>



  <%- include('partials/footer') %>


<script src="js/places.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&language=pt-br&libraries=places&callback=initAutocomplete"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script type="text/javascript">
    function tabE(obj, e) {
        var e = (typeof event != 'undefined') ? window.event : e;
        if (e.keyCode == 13) {
            var ele = document.forms[0].elements;
            for (var i = 0; i < ele.length; i++) {
                var q = (i == ele.length - 1) ? 0 : i + 1; 
                if (obj == ele[i]) {
                    ele[q].focus();
                    break
                }
            }
            return false;
        }
    }
</script>

</body>
</html>