<!DOCTYPE html>
<html>
<%- include('partials/head', {title:"Lista de pacotes"}) %>

<body id="lista-pacote">
    <div class="nav cover-container d-flex w-100 h-100 p-3 mx-auto flex-column nav-rosa">
        <%- include('partials/header') %>
    </div>

    <main class="jumbotron container col-8 mt-5 mb-5 text-center">
        <div class="">
            <h1>Seus Pacotes!</h1>
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Ida</th>
                    <th scope="col">Volta</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% pacotes.forEach(pacote =>{ %>
                <tr>
                    <th> <%= pacote.nome %></th>
                    <th> <%= pacote.ida %></th>
                    <th> <%= pacote.volta %></th>
                    <th>
                        <div class="d-inline-flex">
                            <a href="/cadastro/<%= pacote.id %>" class="btn btn-secondary mr-2">Ver pacote</a>
                            <a href="/cadastro/editar/<%= pacote.id %>" class="btn btn-info mr-2">Editar</a>
                            <form action="/cadastro/deletar/<%= pacote.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger" id="excluir">Excluir</button>
                            </form>
                        </div>
                    </th>
                </tr>
                <%  }) %>

            </tbody>
        </table>
    </main>
    <script src="../js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    
<%- include('partials/footer') %>
</body>

</html>