<html>

<%- include('./partials/head', {title:"Wally - Página de Pagamento"}) %>



<body>

    <!-- header  -->
    <div class="cover-container d-flex w-100 h-30 p-3 mx-auto flex-column" id="foto-principal">

        <%- include('./partials/header') %>
    </div>

    <!-- pagina pagamento -->

    <div id="pagamento">


        <!-- pedido quadro 1 - Resumo do pedido -->
        <div class="card container" style="background-color:#e9ecef; margin: 32px;">


            <div style="margin: 20px">
                <h3>
                    Resumo do Pedido
                </h3>
            </div>

            <div class="card mb-3"
                style="width: 95%; display: flexbox; align-self: center; background-color:white;">
                <div class="row no-gutters">
                    <!-- imagem -->
                    <div id="foto-pedido" class="col-md-3" style="background-image: url('../../images/destaques-ex1-tahiti.jpg');">
                        <!-- <img src="../../images/destaques-ex1-tahiti.jpg" class="img-fluid" alt="Tahiti"> -->
                    </div>

                    <!-- resumo do pedido -->
                    <div id+class="col-md-6">
                        <div style="height: 10%;">
                            <h5>Pacote</h5>
                        </div>
                        <div style="height: fit-content;">
                            <h5><%=pacote.nome%></h5>
                            <p><%=pacote.descricao%></p>
                        </div>


                    </div>

                    <!-- valor -->
                    <div class="col-md-2">
                        <div style="height: 10%;">
                            <h5>Valor</h5>
                        </div>
                        <div style="height: 90%; display: flex;align-items: center; justify-content: center;">
                            <p>R$<%=pacote.preco%>,00</p>
                        </div>

                    </div>

                    <!-- botão -->

                    <div class="col-md-1">
                        
                        <!-- <button class="btn btn-danger cancel" style="width: 100%; height: 100%;">

                            <svg class="bi bi-x" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd"
                                    d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
                            </svg>


                        </button> -->
                        
                    </div>
                </div>

            </div>

            <div style="margin: 20px;">
                <h3>
                    Total: R$<%=pacote.preco%>,00
                </h3>
            </div>
            <!-- fim do quadro de pedido -->




        </div>

        <div class="card container" style="width: 95%; background-color: #e9ecef; margin: 0 32px 32px 32px;">

            

            <div style="margin: 20px;">
                <h3>Dados do pagante</h3>
            </div>

                <form>
                    <div class="d-flex flex-wrap">

                        <div class="form-group col-sm-9">
                            <label for="nomeCompleto">Nome Completo</label>
                            <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" required="required"
                                placeholder="Nome Completo">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="dataDeNascimento">Data de nascimento</label>
                            <input type="date" class="form-control" id="dataDeNascimento" name="dataDeNascimento" required="required">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="CPF">CPF</label>
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" required="required">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="genero">Sexo</label>
                            <select class="custom-select" id="genero" required>
                                <option selected disabled value="">Selecione...</option>
                                <option>Masculino</option>
                                <option>Feminino</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone" name="telefone"
                                placeholder="Telefone" required="required">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="endereco">Endereço</label>
                            <input type="text" class="form-control" id="endereco" name="endereco"
                                placeholder="Endereço" size="50"  required="required">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="numero">Número</label>
                            <input type="text" class="form-control" id="numero" name="numero" placeholder="Número"
                                size="10"  required="required">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" name="complemento"
                                placeholder="Complemento" size="10" required="required">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="estado">Estado</label>
                            <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado"
                                size="20" required="required">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade"
                                size="20" required="required">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro"
                                size="20" required="required">
                        </div>
                       
                </form>

            </div>
        </div>


        <!-- Formas de Pagamento -->



        <div class="card container" style="width: 95%; background-color: #e9ecef; margin: 0 32px 32px 32px;">
            <div style="margin: 20px;">
                <h3>Forma de pagamento</h3>
            </div>


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne" style="background-color:white;">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                style="color: black;">

                                <svg class="bi bi-upc-scan" width="2em" height="2em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
                                    <path
                                        d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z" />
                                </svg>

                                <h5 style="margin-left:10px;">Boleto Bancário</h5>

                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" style="display:flex;align-content: center;">


                            <div style="width: 100%; display: flex; justify-content: center;">
                                <a href="/pagamento/concluido">
                                    <button type="button" class="btn btn-secondary">
                                     Gerar boleto
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo" style="background-color:white">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo" style="color: black;">

                                <svg class="bi bi-credit-card" width="2em" height="2em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z" />
                                    <rect width="3" height="3" x="2" y="9" rx="1" />
                                    <path d="M1 5h14v2H1z" />
                                </svg>

                                <h5 id="card1">Cartão de Crédito</h5>


                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">

                            <form>


                                <div class="d-flex flex-wrap">





                                    <div class="form-group col-12">
                                        <label for="numeroDoCartao">Número do Cartão</label>
                                        <input type="number" class="form-control" id=numeroDoCartao
                                            name="numeroDoCartao" placeholder="Número do cartão" required="required">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="dataDeVencimento">Vencimento</label>
                                        <input type="date" class="form-control" id=mesDeVencimento
                                            name="mesDeVencimento">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="numeroDeVerificacao">Dígito verificador</label>
                                        <input type="number" class="form-control" id="numeroDeVerificacao"
                                            name="numeroDeVerificacao" placeholder="Dígito de verificação" required="required">

                                    </div>

                                    <div class="form-group col-12">
                                        <label for="nomeNoCartao">Nome no Cartão</label>
                                        <input type="text" class="form-control" id="nomeNoCartao" name="nomeNoCartao"
                                            placeholder="Nome no cartão" required="required">
                                    </div>

                                    <br>


                                </div>
                            



                            <a href="/pagamento/concluido">
                                <div style="width: 100%; display: flex; justify-content: center;">
                                    <button type="submit" class="btn btn-secondary">
                                    Confirmar Pagamento
                                    </button>

                                

                                </div>
                            </a>
                        </form>
                        </div>
                    </div>
                </div>
                <br>
            </div>

        </div>

    </div>






    <%- include('./partials/footer') %>

</body>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>


</html>